
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');
/* Add your custom CSS styles here */

:root {
    --font1: 'Lato', sans-serif;
    --font2: 'Roboto', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

span {
    color: #f5c000;
}

ul li a {
    font-family: var(--font2);
    font-weight: bolder;
    font-size: larger;
}

h1 {
    font-family: var(--font2);
}
h4{
    font-family: var(--font2);
    margin: 0px 30px;
    color: white;
    
}
nav{
    background-color: rgb(12, 12, 65,1);
    
}
.p-3 {
    padding: 0.5rem!important;
}



h3{
    background-color:  rgb(12, 12, 65,1);
    color: #ddd;
    font-size: 1.8rem;
    text-align: center;
}

.chatbot {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 50px;
    right: 250px;
    background-color: #f9f9f9;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
   width: 30%;
   height: 70vh;
}


.chat-container {
    display: flex;
    flex-direction: column;
    max-height: auto;
    overflow-y: auto;
    max-width: auto;
}

.user-message {
    align-self: flex-end;
    background-color: rgb(188, 188, 212);
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 8px;
}


.bot-message {
    align-self: flex-start;
    background-color: rgb(222, 222, 231);
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 8px;
}
.chat-container-questions {
    /* position: fixed; */
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.question-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
    /* background-color: #4CAF50; */
    color: blue;
    border: 2px solid  rgb(12, 12, 65,1);
    border-radius: 4px;
    cursor: pointer;
}

#prompt{
    background-color: rgb(12, 12, 65,1);
    color: #ddd ;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 7px;
    width: 70%;

}
.responsebutton{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .question-button:hover {
    background-color: #45a049;
}  */


/* .fluid-container{
    background-color: cadetblue !important;
} */